<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.voisen.libmvp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <provider
            android:authorities="com.github.voisen.libmvp.InitProvider"
            android:name=".InitProvider"/>
    </application>
</manifest>